{% extends "layout.html" %}

{% block body %}
<!-- Page Header -->
<div class="row">
    <!-- left side of the page -->
    <div class="col-md-9">
      <div class="pending-requests">
        <h1>Pending Requests</h1>
        <div>
          <a href="#">
              <img class="img-responsive" src="http://placehold.it/700x200" alt="">
          </a>
          <h3>
              <a href="#">Project One</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div>
          <a href="#">
              <img class="img-responsive" src="http://placehold.it/700x200" alt="">
          </a>
          <h3>
              <a href="#">Project One</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>

      <div class="recommend-requests">
        <h1>You may also interests in...</h1>
        <div>
          <a href="#">
              <img class="img-responsive" src="http://placehold.it/700x200" alt="">
          </a>
          <h3>
              <a href="#">Project One</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div>
          <a href="#">
              <img class="img-responsive" src="http://placehold.it/700x200" alt="">
          </a>
          <h3>
              <a href="#">Project One</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 own-requests">
      <h1>Your Posts</h1>
      <div>
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x200" alt="">
        </a>
        <h3>
            <a href="#">Project One</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div>
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/<700x2></700x2>00" alt="">
        </a>
        <h3>
            <a href="#">Project One</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
    </div>
</div>
<!-- /.row <--></-->
{% endblock %}
