{% extends "layout.html" %}

{% block body %}

<div class="row">
  <div class="col-md-9">
    <div class="thumbnail">
        <div class="caption-full">
            <h4 class="pull-right">$24.99</h4>
            <h4><a href="#">{{title}}</a>
            </h4>
            <p>{{comment}}</p>
        </div>
        <div class="ratings">
            <p class="pull-right">3 candidates</p>
            <p>
                <b>Student:</b> {{name}}
            </p>
        </div>
    </div>

    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <button class="btn btn-primary pull-right">Select</button>
                <p>This product was great in terms of quality. I would definitely buy another!</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <button class="btn btn-primary pull-right">Select</button>
                <p>I've alredy ordered another one!</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <button class="btn btn-primary pull-right">Select</button>
                <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
            </div>
        </div>

    </div>

  </div>


  <div class="col-md-3">
    <div class="row">
      <h4>Ask for the Job</h4>
      <div class="col-md-12">
        {% if not is_applied %}
        <form action="/api/invitetutor" method="post">
          <input type="submit" class="btn btn-primary" value="Be Tutor"></input>
          <input type="hidden" value="{{ user_id }}" name="user_id">
          <input type="hidden" value="{{ order_id }}" name="order_id">
          <input type="hidden" value="1" name="self_applied">
        </form>
        {% else %}
        <form action="/api/deleteinvite" method="post">
          <input type="submit" class="btn btn-warning" value="Cancel Request"></input>
          <input type="hidden" value="{{ user_id }}" name="user_id">
          <input type="hidden" value="{{ order_id }}" name="order_id">
        </form>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <h4>Recommend a Friend</h4>
      <div class="col-md-12">
        <form action="/api/invitetutor" method="post">
          <div class="input-group">
              <input id="searchuser" type="text" class="form-control" placeholder="Search for...">
              <input id="inviteuser" type="hidden" value="" name="user_id">
              <input type="hidden" value="{{ order_id }}" name="order_id">
              <span class="input-group-btn">
                <input class="btn btn-primary" type="submit" value="Submit"></input>
              </span>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block footer %}

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="js/autocomplete.js"></script>
{% endblock %}
