{% extends "layout.html" %}

{% block body %}

<div class="row">
  <div class="col-md-9">
    <div class="thumbnail">
        <div class="caption-full">
            <h4 class="pull-right">$24.99</h4>
            <h4><a href="#">{{title}}</a>
            </h4>
            <p>{{comment}}</p>
        </div>
        <div class="ratings">
            {% if (not hasSelectedTutor) and candidates | length %}
              <p class="pull-right">{{ candidates|length }} candidates</p>
            {% endif %}
            <p>
                <b>Student:</b> <a href="/userinfo?user_id={{ owner_id }}">{{ name }}</a>
            </p>
            {% if own_the_order %}
            <p>
                <b>Contact:</b> {{ email }}
            </p>
            {% endif %}
        </div>
    </div>

    {% if showAlert %}
    <div class="alert alert-success" id="success-alert">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong>{{ showAlert }} </strong>
    </div>
    {% endif %}

    {% if selectedTutor %}
      <div class="row">
        <h3 >
          Selected Tutor:
        </h3>
        <div>
        <div class="card hovercard">
            <img src="{{ selectedTutor['picture'] }}" class="avatar img-circle" alt="avatar">
            <div class="info">
                <div class="title">
                    <a href="/userinfo?user_id={{ selectedTutor['user_id'] }}">{{ selectedTutor['name'] }}</a>
                </div>
                {% for i in range(selectedTutor['tutor_rating']) %}
                  <span class="glyphicon glyphicon-star"></span>
                {% endfor %}
                {% for i in range(5 - selectedTutor['tutor_rating']) %}
                  <span class="glyphicon glyphicon-star-empty"></span>
                {% endfor %}
                <div class="desc">{{ selectedTutor['intro'] }}</div>
                <div class="desc">
                  <strong>Subjects:</strong>
                  {{ selectedTutor['subjects'] }}
                </div>
                <div class="desc">
                  {% if own_the_order %}
                  <p>
                      <b>Contact:</b> {{ email }}
                  </p>
                  {% endif %}
                </div>
            </div>

            <div class="bottom">
            </div>
        </div>
      </div>
      </div>
      {% elif candidates|length == 0 %}

          <p> No candidate is available at the moment </p>
        {% else %}
        <div class="well">
        <p> Candidates for this student </p>
          {% for p in candidates %}
          <div class="row">
              <div class="col-md-3">
                <span><img src="{{ p['picture'] }}" class="avatar img-circle" alt="avatar"></span>
              </div>
              <div class="col-md-9">
                {% for i in range(p['tutor_rating']) %}
                  <span class="glyphicon glyphicon-star"></span>
                {% endfor %}
                {% for i in range(5 - p['tutor_rating']) %}
                  <span class="glyphicon glyphicon-star-empty"></span>
                {% endfor %}
                  <a href="/userinfo?user_id={{ p['user_id'] }}">{{ p['name'] }}</a>
                  {% if user_id == owner_id %}
                  <form action="/api/accepttutor" method="post">
                    <input type="submit" class="btn btn-primary pull-right" value="Accept" hidden></input>
                    <input type="hidden" value="{{ p['user_id'] }}" name="user_id">
                    <input type="hidden" value="{{ order_id }}" name="order_id">
                  </form>
                  {% endif %}
                  <p>{{ p['intro'] }}</p>
              </div>
          </div>
          <hr>
          {% endfor %}
        </div>
        {% endif %}
  </div>

  {% if not hasSelectedTutor %}
  <div class="col-md-3">
    <div class="row">
      <h4>Ask for the Job</h4>
      <div class="col-md-12">
        {% if not is_applied %}
        <form action="/api/invitetutor" method="post">
          <input type="submit" class="btn btn-primary" value="Be Tutor"></input>
          <input type="hidden" value="{{ user_id }}" name="user_id">
          <input type="hidden" value="{{ order_id }}" name="order_id">
          <input type="hidden" value="{{ return_url }}" name="return_url">
          <input type="hidden" value="1" name="self_applied">
        </form>
        {% else %}
        <form action="/api/deleteinvite" method="post">
          <input type="submit" class="btn btn-warning" value="Cancel Request"></input>
          <input type="hidden" value="{{ user_id }}" name="user_id">
          <input type="hidden" value="{{ order_id }}" name="order_id">
          <input type="hidden" value="{{ return_url }}" name="return_url">
        </form>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <h4>Recommend a Friend</h4>
      <div class="col-md-12">
        <form action="/api/invitetutor" method="post">
          <div class="input-group">
              <input id="searchuser" type="text" class="form-control" placeholder="Search for...">
              <input id="inviteuser" type="hidden" value="" name="user_id">
              <input type="hidden" value="{{ order_id }}" name="order_id">
              <input type="hidden" value="{{ return_url }}" name="return_url">
              <span class="input-group-btn">
                <input class="btn btn-primary" type="submit" value="Submit"></input>
              </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}

{% block footer %}

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="js/autocomplete.js"></script>
{% endblock %}
