{% extends "layout.html" %}

{% block body %}

<div class="row">
    <div class="col-md-12">
      {% if showAlert %}
      <div class="alert alert-success" id="success-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>{{ showAlert }}</strong>
      </div>
      {% endif %}
      <div class="search-result">
        <h1>Related Posts </h1>
        {% if searchResults | length == 0 %}
        <p> No related post at the moment. </p>
        <hr>
        {% endif %}
        {% for p in searchResults %}
        <div class="col-md-12 thumbnail">
          <div class="col-md-3">
            <img src="{{ p['picture'] }}" class="avatar img-circle" alt="avatar">
          </div>
          <div class="col-md-9">
            <h3>
                <a href="/order?order_id={{p.order_id}}">{{ p['title'] }}</a>
            </h3>
            <p><a href="/search?queryTerm={{ p['subject'] }}"><span class="subject">{{ p['subject'] }}</span></a></p>
            <h6><strong>Posted by </strong><a href="/userinfo?user_id={{ p['user_id'] }}">{{ p['name'] }}</a></h6>
            <p class="post-comment">{{ p['comment'] }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="search-users">
        <h1>Related Tutors</h1>
        {% if searchUsers | length == 0 %}
        <p> No related tutors at the moment. </p>
        {% endif %}
        {% for p in searchUsers %}
        <div class="col-md-3">
          <div class="card hovercard">
              <img src="{{ p['picture'] }}" class="avatar img-circle" alt="avatar">

              <div class="info">
                  <div class="title">
                      <a href="/userinfo?user_id={{ p['user_id'] }}">{{ p['name'] }}</a>
                  </div>
                  {% for i in range(p['tutor_rating']) %}
                    <span class="glyphicon glyphicon-star"></span>
                  {% endfor %}
                  {% for i in range(5 - p['tutor_rating']) %}
                    <span class="glyphicon glyphicon-star-empty"></span>
                  {% endfor %}
                  <div class="desc">{{ p['intro'] }}</div>
                  <div class="desc">
                    <strong>Subjects:</strong>
                    {{ p['subjects'] }}
                  </div>
              </div>

              <div class="bottom">
              </div>
          </div>
        </div>
        {% endfor %}
      </div>
</div>
<hr/>
<!-- /.row <-->
{% endblock %}
